:root {
    --lr-color: rgb(236, 77, 56);
    --lb-color: rgb(37, 37, 37);
    --dg-color: rgb(51, 51, 51);
    --g-color: rgb(78, 78, 78);
    --lg-color: rgb(186, 173, 173);
    --w-color: white;
}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    height: 100vh;
    width: 100vw;
}

.downHeader,
header,
main,
footer {
    width: 100%;
}

header {
    height: 7%;
    background-color: var(--dg-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

input,
button {
    outline: none;
    border: none;
    cursor: pointer;
}

.subHL,
.subHR {
    height: 80%;
    width: 27%;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.subHR {
    width: 48%;
}

.subHR > input {
    background-color: var(--w-color);
    cursor: text;
    width: 17vw;
}

.subHR > button{
    background-color: var(--lb-color);
    width: 5vw;
    height: 40%;
}

.subHL > div {
    background-color: var(--lb-color);
    width: 4vw;
    height: 60%;
}

.downHeader {
    height: 15%;
    background-color: var(--lb-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.downHeader > section{
    width: 45%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.downHeader > section:nth-child(1) {
    justify-content: space-around;
    align-items:end;
}

.downHeader > section > span {
    background-color: var(--lg-color);
    width: 8vw;
    height: 0.8vh;
}

.downHeader > section > input {
    cursor: text;
    user-select:text;
    border-right: 4vw solid var(--lr-color);
}

main {
    height: 62%;
    background-color: var(--g-color);

}

.LeftSide {
   width: 35%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

aside {
    width: 85%;
    height: 77%;
    background-color: var(--dg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

aside > span {
    width: 100%;
    height: 8%;
    font-size: 0.8rem;
    padding: 0 2vw;
    transition: background-color 1s;
    cursor: pointer;
    text-align: start;
    display: flex;
    align-items: center;
    color: var(--w-color);
}

aside > span::before {
    content: "•";
    padding-right: 0.7vw;
}

aside > span:hover {
    background-color: var(--lr-color);
}

aside > span:nth-child(2) {
    background-color: var(--lr-color);
}

footer {
    height:16%;
    background-color: var(--dg-color);
}