:root {
    --lr-color: rgb(236, 77, 56);
    --lb-color: rgb(53, 52, 52);
    --dg-color: rgb(65, 65, 65);
    --g-color: rgb(90, 89, 89);
    --lg-color: rgb(186, 173, 173);
    --w-color: white;
}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    height: 100vh;
    width: 100vw;
}

.downHeader,
header,
main,
footer {
    width: 100%;
}

header {
    height: 6%;
    background-color: var(--dg-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5vw;
}

input,
button {
    outline: none;
    border: none;
    cursor: pointer;
}

.subHL,
.subHR {
    height: 80%;
    width: 27%;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.subHR {
    width: 49%;
}

.subHR > input {
    background-color: var(--w-color);
    cursor: text;
    width: 11vw;
    height: 35%;
}

.subHR > button{
    background-color: var(--lb-color);
    width: 7vw;
    height: 35%;
}

.subHL > div {
    background-color: var(--lb-color);
    width: 3.2vw;
    height: 65%;
}

.downHeader {
    height: 16%;
    padding: 4vh 2vw;
    background-color: var(--lb-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.downHeader > section{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.downHeader > section:nth-child(1) {
    justify-content: space-around;
    align-items: flex-end;
}

.downHeader > section > span {
    background-color: var(--lg-color);
    width: 7vw;
    height: 0.8vh;
}

.downHeader > section > input {
    cursor: text;
    user-select:text;
    border-right: 3.5vw solid var(--lr-color);
    height: 3.5vw;
    width: 37vw;
}

main {
    height: 62%;
    background-color: var(--g-color);

}

.LeftSide {
   width: 35%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

aside {
    width: 73%;
    height: 85%;
    background-color: var(--dg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

aside > span {
    width: 100%;
    height: 8%;
    font-size: 0.7rem;
    padding: 0 2vw;
    transition: background-color 1s;
    cursor: pointer;
    text-align: start;
    display: flex;
    align-items: center;
    color: var(--w-color);
}

aside > span::before {
    content: "•";
    padding-right: 0.7vw;
}

aside > span:hover {
    background-color: var(--lr-color);
    padding-left: 0.8vw;
}

aside > span:nth-child(2) {
    background-color: var(--lr-color);
}

footer {
    height:16%;
    background-color: var(--dg-color);
}